<div class="card card-body text-center"
style=" box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
rgba(0, 0, 0, 0.12) 0px -12px 30px, 
rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17)
 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
     border-radius: 20px; 
     margin-top: 50px; 
     margin-left: 200px;
     margin-right: 200px;
     "
<h1 class="mt-4">Dashboard</h1>

<p class="lead mb-3" style="color:rgba(45,253,148,1);">Welcome <%= name %></p>
<a href="/auth/logout" class="btn btn-secondary"
style="background-color: rgba(45,253,148,1); color: black;">Logout</a>
</div>