<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center"
         style=" box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, 
          rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17)
           0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
               border-radius: 20px; 
               margin-top: 120px;">
            <h1><img src="https://thumbs.dreamstime.com/b/glowing-neon-shield-security-lock-icon-isolated-brick-wall-background-protection-safety-password-firewall-access-privacy-261467912.jpg" 
                 alt="icon" width="22%" height="100px"
               style=" border-radius:80px ; border-radius: 20px;"/></h1>
            <p>Login to an existing account or register</p>
            <a href="/auth/login" class="btn  btn-block"
            style="background-color: rgb(58, 177, 58);">Login</a>
            <a href="/auth/register" class="btn btn-secondary btn-block mb-2">Register</a>
        </div>
    </div>
</div>